[submodule "crates/proto-gen"]
	path = crates/proto-gen
	url = https://github.com/spwilson2/proto-gen.git
[submodule "crates/bevy"]
	path = crates/bevy
	url = https://github.com/bevyengine/bevy
[submodule "crates/glam-rs"]
	path = crates/glam-rs
	url = https://github.com/bitshifter/glam-rs
[submodule "crates/noise-rs"]
	path = crates/noise-rs
	url = https://github.com/Razaekel/noise-rs
